body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: green;
  color: #fff;
}

/* new header css bellow 111111111111111111*/
header {
    
    background: #347531;
    padding: 5px 30px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
   
    z-index: 1000;
   
    font-size: 25px;
}
.allLeft {
    display: flex;
}
.ggLogo {
    min-height: 75px;
    min-width: 175px;
    max-height: 75px;
    max-width: 175px;
}
.ggName {
    min-height: 75px;
    min-width: 200px;
    max-height: 75px;
    max-width: 200px;
    
}

a {
    text-decoration:none;
    color:white;
}
.navbar {
    background: #80AF81;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
    
    font-size: 20px;
    
}

.navlist {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-right: 200px;
}



.allRight ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    align-self: flex-start;
    font-size: 20px;
    font-weight: medium;
    text-transform: uppercase;
    
}

.navlist ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 60px;
    align-self: flex-start;

}
/* new header css above1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/


@media(max-width:2000px) {

    body {
        zoom:0.6;

    }
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 40px;
  justify-content: center;
}

.contact-left, .contact-right {
  background-color: #66cc66;
  padding: 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.contact-left h2, .contact-right h2 {
  margin-top: 0;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #006600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004d00;
}

.note {
  font-size: 0.9em;
  color: #fff;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

