/*for smaller screens*/
@media(max-width:2000px) {

    body {
        zoom:0.6;
       
     
    }
}
@media(max-width:1500px) {

    body {
        zoom: 0.54;
        
       
    }
}
@media(max-width:1000px) {

    body {
        zoom: 0.36;
       
        overflow-x:hidden;
    }
}



/*for phone*/
@media(max-width:600px) {

    body {
        zoom: 0.2;
        
    }
}
@media(max-width:300px) {

    body {
        zoom: 0.1;
       
    }
}


body {
    margin: 0;
    color: #000000;
    overflow-x:auto;
    background: #D6EFD8;
    background: linear-gradient(180deg,rgba(214, 239, 216, 1) 0%, rgba(114, 216, 117, 1) 100%);
    font-family: 'M PLUS 2', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
  display: flex;
  background-color: dodgerBlue;
  justify-content: center;
}
.container {
    display: flex;
    background-color: #94dfa093;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}
h1 {
    font-family: 'Silkscreen', cursive;
}
.Title1 {
    font-family: 'Silkscreen', cursive;
    font-size: 60px;
    padding-top: 90px;
}
.Description1 {
    font-family: 'Silkscreen', cursive;
    font-size: 38px;
    margin: 0 50px;
    text-align: left;
}
.videoText {
    font-family: 'Silkscreen', cursive;
    text-align:center;
    padding-top: 90px;
    font-size: 40px;
}
.videoText1Desc {
    font-family: 'Silkscreen', cursive;
    text-align: left;
    position: relative; left: 130px;
}
.videoText2Desc {
    font-family: 'Silkscreen', cursive;
    text-align: center;
    position: relative; top: -575px; right: 20px;
}
.gifTextDesc {
    font-family: 'Silkscreen', cursive;
    text-align: center;
    position: relative; left: 1100px; top: -1150px;
    font-size: 20px;
}
.Video1 {
    text-align: left;
}
.Video2 {
    text-align: center;
    position: relative; top: -575px; right: 20px
}
.gif1 {
    text-align: right;
    position: relative; top: -1150px; right: 100px;
}
header {
    
    background: #347531;
    padding: 5px 30px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
   
    z-index: 1000;
   
    font-size: 25px;
}
.allLeft {
    display: flex;
}
.ggLogo {
    min-height: 75px;
    min-width: 175px;
    max-height: 75px;
    max-width: 175px;
}
.ggName {
    min-height: 75px;
    min-width: 200px;
    max-height: 75px;
    max-width: 200px;
    
}

a {
    text-decoration:none;
    color:white;
}
.navbar {
    background: #639c65;
    /*padding: 65px 225px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 90px;
    z-index: 1000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    
    font-size: 20px;
    
}
.navlist {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-right: 200px;
}
.allRight ul li {
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    align-self: flex-start;
    border-radius: 2px;
    border: 3px solid rgb(128, 128, 127, 0.10);
    background-color: rgb(117, 117, 109, 0.14);
}

.navlist ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 60px;
    align-self: flex-start;

}
.allRight ul li {
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    align-self: flex-start;
    border-radius: 2px;
    border: 3px solid rgb(128, 128, 127, 0.10);
    background-color: rgb(117, 117, 109, 0.14);
}

.navlist ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 60px;
    align-self: flex-start;

}

.auth button {
    background: #009E22;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 22px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
}

.auth a{
    font-weight: normal;
    font-size: 20px;
    color: #dfdfdf;
    padding: 12px;
    text-decoration: underline;
}

.search-container {
    
    margin: 0;
    background: #80AF81;
    padding: 10px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}
.search-btn{
    height: 39px;
    border: 0px ;
    background-color: #00cc2c;
    cursor: pointer;
    transition: 0.3s;

}
.search-btn img {
    height: 30px;
}

.search-btn:hover{
    background-color: #00861d;

}

.search-bar {
    width: 491px;
    height: 39px;
    box-sizing: border-box;
    padding: 8px 15px;
    border: 2px solid #D7D7D7;
    background: #d9d9d937;
    font-family: 'M PLUS 2', sans-serif;
    font-size: 16px;
    box-shadow: none;
    color: rgb(255, 255, 255);
}

.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-bar:focus {
    outline: 1px solid #ffffffb9;
}

.settings-buttons {
    display: flex;
    gap: 10px;
    padding-left: 65%;
}

.lang-btn,
.region-btn {
    width: 107px;
    height: 39px;
    box-sizing: border-box;
    background: #d9d9d937;
    color: rgb(255, 255, 255);
    border: 2px solid #D7D7D7;
    padding: 8px 15px;
    
    font-weight: 600;
    font-family: 'M PLUS 2', sans-serif;
    transition: 0.3s;
}

.lang-btn:hover,
.region-btn:hover {
    background: #ffffff7a;
}


.slider-container {
    width: 80%;
    margin: 30px auto;
    background: #8edc8c;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}


