/*for smaller screens*/
@media(max-width:2000px) {

    body {
        zoom:0.6;
       
     
    }
}
@media(max-width:1500px) {

    body {
        zoom: 0.54;
        
       
    }
}
@media(max-width:1000px) {

    body {
        zoom: 0.36;
       
        overflow-x:hidden;
    }
}



/*for phone*/
@media(max-width:600px) {

    body {
        zoom: 0.2;
        
    }
}
@media(max-width:300px) {

    body {
        zoom: 0.1;
       
    }
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #72D875, #D6EFD8);
    color: #ffffff;
    overflow-x:auto;
}
html{
    scroll-behavior:smooth;
}

header {
    
    background: linear-gradient(to bottom, #12751d, #1e9a2d);
    padding: 65px 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
   
    z-index: 1000;
   
    font-size: 25px;
}
.allLeft {
    display: flex;
}
.ggLogo {
    min-height: 75px;
    min-width: 175px;
    max-height: 75px;
    max-width: 175px;
}
.ggName {
    min-height: 75px;
    min-width: 200px;
    max-height: 75px;
    max-width: 200px;
    
}

a {
    text-decoration:none;
    color:white;
}
.navbar {
    background: linear-gradient(to bottom, #2f7c38, #3fb14d);
    /*padding: 65px 225px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 200px;
    z-index: 1000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    
    font-size: 20px;
    
}

.navlist {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-right: 200px;
}

#eventOne {
    scroll-margin-top:700px;

}
#eventTwo {
    scroll-margin-top: 700px;
}
#eventThree {
    scroll-margin-top: 700px;
}

#eventFour {
    scroll-margin-top: 700px;
}


.allRight ul li {
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    align-self: flex-start;
    border-radius: 2px;
    border: 3px solid rgb(128, 128, 127, 0.10);
    background-color: rgb(117, 117, 109, 0.14);
}

.navlist ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 60px;
    align-self: flex-start;

}
.pageBorder {
    padding-top: 7px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-sizing: border-box;
}

.pageCore {
    background: linear-gradient(to bottom, #30752e, #99ff97);
    max-width: 90%;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 5px black;
}

.topBanner {
    min-height:800px;
    margin-top:30px;
    width: 100%;
    height: 50vh;


    
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius:10px;
}
.bannerText {
  
    font-size: 20px;
}




h1{


    font-size:55px;
 
}

.gameInfo1 {
    padding-top: 200px;
    padding-bottom:100px;
    
    justify-content: center;
    display: flex;
   
    gap: 50px;
}
.gameText {
    font-size: 25px;
    max-width: 750px;
    color: black;
}
.gameImage {
    height: auto;
    max-height: 410px;
    min-height: 410px;
    width: 650px;
    border: 4px solid white;
    border-radius: 15px 50px 30px;
}

.gameBackground {
    display: flex;
    background: linear-gradient(to bottom, #3e813c, #71dd6e);
  
    border-radius: 10px;
    box-shadow: 0 5px 5px black;
    justify-content: center;
    align-content: center;
    
    min-height: 650px;
    min-width: 650px;
    max-height: 650px;
  
    width: 100%;
    height: 50vh;

    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
    border-radius: 10px;
}


button.skipButton{
    text-decoration:none;
    transition-duration:0.4s;
    font-size: 25px;
    cursor:pointer;
    background-color:transparent;
    border-radius:20px;
    color:white;

}
    button.skipButton:hover {
        color: black;
        background: linear-gradient(to bottom, #12751d, #0e8e1d);
    }


.formOuter {
    display: flex;
   

    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 5px black;
    justify-content: center;
    
    min-height: 2250px;
    min-width: 1800px;
    margin-top: 30px;

    border-radius: 50px;
    border-color: white;
    border-style: solid;

    max-width: 1800px;
    max-height: 2250px;
    margin-left: auto;
    margin-right: auto;
}
.formTitle{
    font-size:40px;
    text-align:center;
}

.personalDetails {
    
    text-align: center;
  
  
    padding: 40px;
   
}
.eventSelect {
  
    width: 900px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    
    
}
.formImage {
    height: auto;
    max-height: 450px;
    width: 900px;
    border: 4px solid white;
    border-radius: 15px 30px 30px;
    min-height: 800px;
    margin-top: 30px;
  
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.seperateEvent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seperateText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-height: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding-left:50px;
    padding-right:50px;
  
    margin-left:350px;
    margin-right:350px;
    margin-top:80px;
    margin-bottom:200px;
}
.attendDiv {
    border: 4px solid white;
    border-radius: 15px 30px 30px;
    padding: 10px;
  
}

input[type="checkbox"] {transform:scale(2);
                        margin-right:10px;
}

.formInner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    height: 100vh;
}

.acrossDivs{

display:flex;
justify-content: space-between;
align-items:center;
}
.submit2 {
    font-size:25px;
    margin-top:25px;
    display:flex;
    text-align: center;
    border: 4px solid white;
    border-radius: 15px 50px 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    cursor:pointer;
}
.chooseP{

    font-size:25px;
    font-weight:bold;
    
    font-style:italic;

}

.chooseHead{

text-align:center;
font-size:30px;
}
